*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/*home page css */
header {
    background-color: #cf1b1b;
    padding: 20px;
    text-align: center;
}
h1{
    color: white;
}
select {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    width: 100%;
    background-color: #f1f1f1;
}
option {
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 5px;
}

/*login and register css*/
.login-container {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000000;
}
input[type="text"], input[type="password"],input[type="email"],input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

/*date picker forms*/

.date-picker-container {
    text-align: center;
    margin: 20px;
}

.report-form {
    background-color: #fff;
    width: 500px;
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.date-picker-label {
    display: block;
    margin-top: 10px;
}

.date-picker {
    margin-bottom: 10px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*media queries*/
@media screen and (max-width: 500px) {
        .report-form {
            width: 300px;
        }
        .container {
            width: 300px;
        }
        .login-container {
            width: 300px;
        }
}